
// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// Class
.bgimage {
background-image: url(garage_colors.jpg);
background-size: 100%;
background-repeat: no-repeat;
background-attachment: fixed;
}

// .bgimage-inside {
// padding-top: 37.36%;
// }

body {
  font-family: Consolas,monaco,monospace;
  color: orange;
  padding-top: 70px;
}

form {
  color: black;
}

img {
  max-height: 250px;
  max-width: 250px;
}