
// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// Class

body {
  font-family: Consolas,monaco,monospace;
  color: darkorange;
  background-image: url("military-camo-wallpaper.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding-top: 70px;
}

form {
  color: black;
}

img {
  max-height: 250px;
  max-width: 250px;
}