<div class="container-fluid">

  <h1>Mark's Market</h1>

  <h2>Check out these great   products:</h2>

  <div class="row">

    <% @products.each do |product|  %>

    <div class="col-md-3">

      <h3 class="text-center"><%= product.name %></h3>
      <img class="img-responsive" src="<%=  product.image %>">
      <h4 class="text-center">Price:  <%= product.price %>  </h4>

    </div>

    <% end %>

  </div>

</div>
